.grid-search {
    border: 1px solid #555;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.7rem;
    text-transform: uppercase;
    outline: 0;
    width: 100%
}

@media (min-width: 768px) {
    .grid-search {
        margin-top: 0;
        margin-left: 0.5rem;
        width: auto
    }
}

.grid-shuffle {
    background-color: #f2ca27 !important;
    outline: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%
}

@media (min-width: 768px) {
    .grid-shuffle {
        margin-bottom: 0;
        text-align: center;
        width: auto
    }
}

.grid-shuffle:hover {
    background-color: #d9b10d !important
}

.grid-shuffle:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5)
}

.grid-multi {
    background-color: #3c7be7 !important;
    border-color: #2b63c1 !important
}

.grid-multi:hover {
    background-color: #2b63c1 !important
}

.grid-multi.grid-active {
    background-color: #2b63c1 !important
}

.grid-sort.grid-active {
    background-color: #c0392b !important
}

.grid-sort {
    background-color: #e74c3c !important;
    border-color: #c0392b !important
}

.grid-sort:hover {
    background-color: #c0392b !important
}

.grid-sort.grid-active {
    background-color: #c0392b !important
}

.sorting {
    padding: 0
}

@media (min-width: 1200px) {
    .grid-container {
        transition: height 0.5s ease-out
    }
}

.element-item {
    padding: 16px
}

.element-item img {
    border-radius: 5px 5px 0px 0px;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%)
}

.item-desc,
.item-position {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    color: white;
    font-weight: 300;
    display: block;
    padding: 8px;
    text-align: center;
    text-transform: uppercase
}

.item-position {
    left: 1rem;
    top: 1rem;
    padding: 0.75rem 1.25rem;
    right: auto;
    bottom: auto
}

.element-item:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}
.packed .element-item:nth-child(3),
.packed .element-item:nth-child(5),
.packed .element-item:nth-child(9),
.packed .element-item:nth-child(11),
.packed .element-item:nth-child(2) {
    width: 33.3%
}

.packed .element-item:nth-child(1),
.packed .element-item:nth-child(8),
.packed .element-item:nth-child(16) {
    height: 128px
}

.packed .element-item:nth-child(19),
.packed .element-item:nth-child(7) {
    width: 66.6%
}

.sameHeight .element-item:nth-child(3),
.sameHeight .element-item:nth-child(5),
.sameHeight .element-item:nth-child(9),
.sameHeight .element-item:nth-child(11),
.sameHeight .element-item:nth-child(2) {
    width: 33.3%
}

.sameWidth .element-item:nth-child(3),
.sameWidth .element-item:nth-child(5),
.sameWidth .element-item:nth-child(9),
.sameWidth .element-item:nth-child(10),
.sameWidth .element-item:nth-child(2) {
    height: 128px
}